@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./utils/color.scss";
html {
  font-family: "Roboto", "Open Sans", "sans-serif";
  font-size: 14px;
  color: $primary_text;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #d8d8d8;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: $drark_blue;
  }
  scroll-behavior: smooth;
}
